<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/Head::siteHead">
</head>
<body>
<body>
<header th:replace="fragments/Header::siteHeader">
</header>
<nav th:replace="fragments/navBarSuperAdmin::siteNavBarSupAdmin">
</nav>

<div class="row">
    <div class="col col-lg-8 offset-lg-2 text-center">
        <div class="tab-content" id="nav-tabContent">
            <div aria-labelledby="nav-assets-tab" class="tab-pane fade show active w-100" id="nav-assets"
                 role="tabpanel" tabindex="0">
                <br/>
                <p style="text-align:left">
                    <select aria-label=".select status" class="form-select form-select-md mb-3">
                        <option selected>Sort By...</option>
                        <option value="1">Asset Type</option>
                        <option value="2">Staff Name</option>
                        <option value="3">Department</option>
                    </select>
                </p>
                <div class="table-responsive w-100 ">
                    <table
                            class="table table-hover table-light table-striped w-100 justify-content-between  modal-dialog-scrollable"
                            id="viewresult">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Asset Name</th>
                            <th scope="col">Asset Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date of Purchase</th>
                            <th scope="col">Date of Expiry</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider ">
                        <tr th:each="asset: ${assets}">
                            <td th:text="${asset.id}"></td>
                            <td th:text="${asset.assetName}"></td>
                            <td th:text="${asset.assetType}"></td>
                            <td th:text="${asset.status}"></td>
                            <td th:text="${asset.dateOfPurchase}"></td>
                            <td th:text="${asset.dateOfExpiry}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
<!--                Add Assets -->
                <div class="col-md-6 column">
                    <!--add assets button-->
                    <button class="btn btn-primary" data-bs-target="#addAsset" data-bs-toggle="modal"
                            type="button">
                        Add Asset
                    </button>
                    <div class="modal fade" id="addAsset">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Add Asset</h4>
                                    <button class="btn-close" data-bs-dismiss="modal"
                                            type="button"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="wrapleft ">
                                        <div class="row row-col-5">
                                            <div class="col-4 p-2">
                                                <label class="form-label" for="AssetName">Asset Name</label>
                                            </div>
                                            <div class="col-8 p-2">
                                                <input class="form-control" id="addAssetName"
                                                       placeholder="Default Name"
                                                       type="text">
                                            </div>
                                            <div class="col-4 p-2">
                                                <label class="form-label" for="AssetType">Asset Type</label>

                                            </div>
                                            <div class="col-8 p-2">
                                                <input class="form-control" id="addModel"
                                                       placeholder="Default Model"
                                                       type="text">
                                            </div>
                                            <div class="col-4 p-2">
                                                <label class="form-label" for="addOperatedDate">Operated
                                                    Date</label>
                                            </div>
                                            <div class="col-8 p-2">
                                                <input class="form-control" id="addOperatedDate"
                                                       placeholder="Date"
                                                       type="date">

                                            </div>
                                            <div class="col-4 p-2">
                                                <label class="form-label" for="Operation">Operation</label>
                                            </div>
                                            <div class="col-8 p-2">
                                                <input class="form-control" id="addOperation"
                                                       placeholder="Operation"
                                                       type="text">
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="modal-footer">
                                    <button class="btn btn-success" data-bs-dismiss="modal" type="button">
                                        submit
                                    </button>
                                    <button class="btn btn-danger" data-bs-dismiss="modal" type="button">
                                        Cancel
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
<!--                Page navigation-->
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-6 column">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item disabled">
                                        <a class="page-link">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>