<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">

<!--This is the Home Page template for SuperAdmin Access-->
<head th:replace="fragments/Head::siteHead">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-html5-2.3.3/cr-1.6.1/kt-2.8.0/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/sr-1.2.0/datatables.min.css"
          rel="stylesheet"
          type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-html5-2.3.3/cr-1.6.1/kt-2.8.0/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/sr-1.2.0/datatables.min.js"
            type="text/javascript"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<header th:replace="fragments/Header::siteHeader"></header>


<div class="row">
    <div class="col col-lg-8 offset-lg-2 text-center">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button th:replace="fragments/navBar_Inactive::navBar_AllAssets"></button>
                <button th:replace="fragments/navBar_Active::navBar_AssetSearch"></button>
                <button th:replace="fragments/navBar_Inactive::navBar_AssetStatus"></button>
                <button th:replace="fragments/navBar_Inactive::navBar_AssetsExpiring"></button>
                <button th:replace="fragments/navBar_Inactive::navBar_ManageAdmin"></button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <!--                Asset Search-->
            <div aria-labelledby="nav-assetSearch-tab" class="tab-pane show active fade w-100" id="nav-assetSearch"
                 role="tabpanel" tabindex="0">
                <div class="row">
                    <div style="text-align: center">
                        <br/>
                        <!--                        Search form submission form-->
                        <!--                        <form action='/SearchForm/' method='get'>-->
                        <!--                            <div class="row">-->
                        <!--                                <div class="col-4 ">-->
                        <!--                                    <label class="form-label" style="margin-top: 7px">Asset Type:</label>-->
                        <!--                                </div>-->
                        <!--                                <div class="col-6 ">-->
                        <!--                                    <input class="form-control" placeholder="Asset Type" type="text">-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            <br>-->
                        <!--                            <div class="row">-->
                        <!--                                <div class="col-4 ">-->
                        <!--                                    <label class="form-label" style="margin-top: 7px">Asset Name:</label>-->
                        <!--                                </div>-->
                        <!--                                <div class="col-6 ">-->
                        <!--                                    <input class="form-control" placeholder="Asset Name" type="text">-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            <br>-->
                        <!--                            <div class="row">-->
                        <!--                                <div class="col-4">-->
                        <!--                                    <label class="form-label" style="margin-top: 7px">Assignee Name:</label>-->
                        <!--                                </div>-->
                        <!--                                <div class="col-3">-->
                        <!--                                    <input class="form-control" placeholder="Firstname" type="text">-->
                        <!--                                </div>-->
                        <!--                                <div class="col-3 ">-->
                        <!--                                    <input class="form-control" placeholder="Surname" type="text">-->
                        <!--                                </div>-->

                        <!--                            </div>-->
                        <!--                            <br>-->
                        <!--                            <br>-->
                        <!--                            <button class="btn btn-success" data-bs-dismiss="modal"-->
                        <!--                                    type="submit"> Search Asset-->
                        <!--                            </button>-->

                        <!--                        </form>-->

                        <div aria-labelledby="nav-assetsBySearch-tab" class="tab-pane fade show active w-100"
                             id="nav-assetsBySearch"
                             role="tabpanel" style="  " tabindex="0">
                            <br/>
                            <div class="table-responsive w-100 "
                                 style="padding: 10px; border-radius: 10px;border: 2px #44f2b3 solid ; background-color: #f8f9fa">

                                <!--modal-dialog will make buttons losing its function!!-->
                                <table
                                        class="table table-hover table-light table-striped w-100 justify-content-between  modal-dialog-scrollable"
                                        id="resultTable">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Asset Name</th>
                                        <th scope="col">Asset Type</th>
                                        <th scope="col">Model Number</th>
                                        <th scope="col">Version</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date of Purchase</th>
                                        <!--                                        <th scope="col">Date of Expiry</th>-->
                                        <th scope="col">Date of Assigned</th>
                                        <th scope="col">Assignee</th>
                                        <th scope="col">Region</th>
                                        <th scope="col">Operations</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider ">
                                    <tr th:each="asset: ${assignedAssets}">
                                        <td th:text="${asset.ID}"></td>
                                        <td th:text="${asset.assetName}"></td>
                                        <td th:text="${asset.assetType}"></td>
                                        <td th:text="${asset.modelNumber}"></td>
                                        <td th:text="${asset.version}"></td>
                                        <td th:text="${asset.status}"></td>
                                        <td th:text="${asset.dateOfPurchase}"></td>
                                        <!--                                        <td th:text="${asset.dateOfExpiry}"></td>-->
                                        <td th:text="${asset.assignedOn}"></td>
                                        <!--                                        <td th:text="${asset.employeeID}"></td>-->
                                        <td th:text="${asset.firstname} +${asset.surname}"></td>
                                        <!--                                        <td th:text="${asset.surname}"></td>-->
                                        <td th:text="${asset.region}"></td>
                                        <td>
                                            <script>


                                            </script>
                                            <div style="white-space:nowrap">
                                                <button class="btn btn-primary"
                                                        data-bs-toggle="modal"
                                                        onclick="showDialog()" type="button">
                                                    Edit
                                                </button>
                                                <div class="modal fade" th:id="${asset.ID}">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <form action='/EditAsset/' id='editAssetForm' method='post'>

                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">Edit</h4>
                                                                    <button class="btn-close" data-bs-dismiss="modal"
                                                                            type="button"></button>
                                                                </div>


                                                                <div class="modal-body">
                                                                    <div class="wrap-left ">
                                                                        <div class="row row-col-5">
                                                                            <div class="col-4 p-2">
                                                                                <label class="form-label"
                                                                                       for="editAssetID">Asset
                                                                                    ID</label>
                                                                            </div>
                                                                            <div class="col-8 p-2">
                                                                                <input class="form-control"
                                                                                       id="editAssetID"

                                                                                       name="ID"
                                                                                       th:value="${asset.ID}"
                                                                                       type="number">

                                                                            </div>
                                                                            <div class="col-4 p-2">
                                                                                <label class="form-label"
                                                                                       for="editAssetName">Asset
                                                                                    Name</label>
                                                                            </div>
                                                                            <div class="col-8 p-2">
                                                                                <input class="form-control"
                                                                                       id="editAssetName"
                                                                                       name="assetName"
                                                                                       placeholder="Asset Name"
                                                                                       th:value="${asset.assetName}"
                                                                                       type="text">
                                                                            </div>
                                                                            <div class="col-4 p-2">
                                                                                <label class="form-label"
                                                                                       for="editAssetType">Asset
                                                                                    Type</label>
                                                                            </div>
                                                                            <div class="col-8 p-2">
                                                                                <input class="form-control"
                                                                                       id="editAssetType"
                                                                                       name="assetType"
                                                                                       placeholder="Asset Type"
                                                                                       th:value="${asset.assetType}"
                                                                                       type="text">
                                                                            </div>
                                                                            <div class="col-4 p-2">
                                                                                <label class="form-label"
                                                                                       for="editModelNumber">Model
                                                                                    Number</label>
                                                                            </div>
                                                                            <div class="col-8 p-2">
                                                                                <input class="form-control"
                                                                                       id="editModelNumber"
                                                                                       name="modelNumber"
                                                                                       placeholder="Model Number"
                                                                                       th:value="${asset.modelNumber}"
                                                                                       type="text">
                                                                            </div>

                                                                            <div class="col-4 p-2">
                                                                                <label class="form-label"
                                                                                       for="editAssetVersion">Asset
                                                                                    Version</label>
                                                                            </div>
                                                                            <div class="col-8 p-2">
                                                                                <input class="form-control"
                                                                                       id="editAssetVersion"
                                                                                       name="version"
                                                                                       placeholder="Asset Status"
                                                                                       th:value="${asset.version}"
                                                                                       type="text">
                                                                            </div>
                                                                            <div class="col-4 p-2">
                                                                                <label class="form-label"
                                                                                       for="editPurchaseDate">Date of
                                                                                    Purchase</label>
                                                                            </div>
                                                                            <div class="col-8 p-2">
                                                                                <input class="form-control"
                                                                                       id="editPurchaseDate"
                                                                                       name="dateOfPurchase"
                                                                                       placeholder="Date of Purchase"
                                                                                       th:value="${asset.dateOfPurchase}"
                                                                                       type="text">
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="modal-footer">
                                                                    <button class="btn btn-success"
                                                                            data-bs-dismiss="modal"
                                                                            type="submit">
                                                                        submit
                                                                    </button>
                                                                    <button class="btn btn-ready"
                                                                            data-bs-dismiss="modal"
                                                                            type="button">
                                                                        Cancel
                                                                    </button>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn btn-danger">delete</button>


                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <script type="text/javascript">
                                    // $(document).ready( function () {
                                    //     $('#resultTable').DataTable();
                                    // } );
                                    var rowData
                                    $(document).ready(function () {

                                        var table = $('#resultTable').DataTable({
                                            select: true,
                                        });
                                        table.on('click', 'tr', function () {
                                            rowData = table.row(this).data()[0];
                                            console.log(rowData);
                                            // document.getElementById("test") .value = rowData;


                                        });

                                    });

                                    function showDialog(obj) {

                                        $("#" + rowData).modal('show');

                                    }
                                </script>
                            </div>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
    var getAllAssetsTab = function () {
        window.location = '/allAssetsSupAdmin';
        alert("Works Fine");
    };
    var getAssetSearchTab = function () {
        window.location = '/assetSearchSupAdmin';
        alert("Works Fine");
    };
    var getAssetStatusTab = function () {
        window.location = '/assetStatusSupAdmin';
        alert("Works Fine");
    };
    var getAssetsExpiringTab = function () {
        window.location = '/assetsExpiringSupAdmin';
        alert("Works Fine");
    };
    var getManageAdminTab = function () {
        window.location = '/manageAdminSupAdmin';
        alert("Works Fine");
    };


</script>
</body>
</html>