<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">

<!--This is the Home Page template for SuperAdmin Access-->
<head th:replace="fragments/Head::siteHead"></head>
<body>
<header th:replace="fragments/Header::siteHeader"></header>


    <div class="row">
        <div class="col col-lg-8 offset-lg-2 text-center">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button th:replace="fragments/navBar_Active::navBar_AllAssets"></button>
                    <button th:replace="fragments/navBar_Inactive::navBar_AssetSearch"></button>
                    <button th:replace="fragments/navBar_Inactive::navBar_AssetStatus"></button>
                    <button th:replace="fragments/navBar_Inactive::navBar_AssetsExpiring"></button>
                    <button th:replace="fragments/navBar_Inactive::navBar_ManageAdmin"></button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <!--                All Assets-->
                <div aria-labelledby="nav-assets-tab" class="tab-pane fade show active w-100" id="nav-assets" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div style="text-align: center">
                            <br/>
                            <p style="text-align:left">
                                <select aria-label=".select status" class="form-select form-select-md mb-3">
                                    <option selected>Sort By...</option>
                                    <option value="1">Asset Type</option>
                                    <option value="2">Staff Name</option>
                                    <option value="3">Department</option>
                                </select>
                            </p>
                            <br/>
                            <div class="table-responsive w-100 ">
                                <table class="table table-hover table-light table-striped w-100 justify-content-between modal-dialog-scrollable display"
                                        id="assetsSummary">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Asset Name</th>
                                        <th scope="col">Asset Type</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Model Number</th>
                                        <th scope="col">Version</th>
                                        <th scope="col">Date of Purchase</th>
                                        <th scope="col">Date of Expiry</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-group-divider ">
                                    <tr th:each="asset: ${assets}">
                                        <td th:text="${asset.id}"></td>
                                        <td th:text="${asset.assetName}"></td>
                                        <td th:text="${asset.assetType}"></td>
                                        <td th:text="${asset.status}"></td>
                                        <td th:text="${asset.modelNumber}"></td>
                                        <td th:text="${asset.version}"></td>
                                        <td th:text="${asset.dateOfPurchase}"></td>
                                        <td th:text="${asset.dateOfExpiry}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <!--Add Assets -->
                            <div class="col-md-2 offset-md-5">

                                <!--add assets button-->
                                <button class="btn btn-primary" data-bs-target="#addAsset" data-bs-toggle="modal"
                                        type="button">
                                    Add Asset
                                </button>
                                <div class="modal fade" id="addAsset">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Add Asset</h4>
                                                <button class="btn-close" data-bs-dismiss="modal"
                                                        type="button"></button>
                                            </div>

                                <!--Add asset Pop Up-->
                                            <div class="modal-body">
                                                <div class="wrapleft">
                                                    <form id="addAssetForm" class="row row-col-5 needs-validation" action="/addAsset" method="POST">
                                                        <div class="col-4 p-2">
                                                            <label class="form-label" for="assetName">Asset Name</label>
                                                        </div>
                                                        <div class="col-8 p-2">
                                                            <input class="form-control" id="assetName" name="assetName"
                                                                   placeholder="Asset Name"
                                                                   type="text" required>
                                                        </div>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <div class="col-4 p-2">
                                                            <label class="form-label" for="assetType">Asset Type</label>

                                                        </div>
                                                        <div class="col-8 p-2">
                                                            <input class="form-control" id="assetType" name="assetType"
                                                                   placeholder="Asset Type"
                                                                   type="text" required>
                                                        </div>
                                                        <div class="col-4 p-2">
                                                            <label class="form-label" for="status"> Status</label>
                                                        </div>
                                                        <div class="col-8 p-2">
                                                            <input class="form-control" id="status" name="status"
                                                                   placeholder="Status"
                                                                   type="text" required>
                                                        </div>
                                                        <div class="col-4 p-2">
                                                            <label class="form-label" for="modelNumber">Model Number</label>
                                                        </div>
                                                        <div class="col-8 p-2">
                                                            <input class="form-control" id="modelNumber" name="modelNumber"
                                                                   placeholder="Model Number (For Assets Only)"
                                                                   type="text">
                                                        </div>
                                                        <div class="col-4 p-2">
                                                            <label class="form-label" for="version">Version</label>
                                                        </div>
                                                        <div class="col-8 p-2">
                                                            <input class="form-control" id="version" name="version"
                                                                   placeholder="Version (For Softwares Only)"
                                                                   type="text">
                                                        </div>
                                                        <div class="col-4 p-2">
                                                            <label class="form-label" for="dateOfPurchase">Date Of Purchase</label>
                                                        </div>
                                                        <div class="col-8 p-2">
                                                            <input class="form-control" id="dateOfPurchase" name="dateOfPurchase"
                                                                   placeholder="Date of Purchase"
                                                                   type="date" required>
                                                        </div>
                                                        <div class="col-4 p-2">
                                                            <label class="form-label" for="dateOfExpiry">Date Of Expiry</label>
                                                        </div>
                                                        <div class="col-8 p-2">
                                                            <input class="form-control" id="dateOfExpiry" name="dateOfExpiry"
                                                                   placeholder="Date of Expiry"
                                                                   type="date">
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button class="btn btn-success" type="submit">
                                                                submit
                                                            </button>
                                                            <button class="btn btn-danger" data-bs-dismiss="modal" type="button">
                                                                Cancel
                                                            </button>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

<!--                            Page navigation removed as pagination covers in datatables functionality-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/Script::script"></script>
</body>
</html>