<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">

<!--This is the Home Page template for SuperAdmin Access-->
<head th:replace="fragments/Head::siteHead"></head>
<body>
<header th:replace="fragments/Header::siteHeader"></header>



<div class="row">
    <div class="col col-lg-8 offset-lg-2 text-center">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button th:replace="fragments/navBar_Active::navBar_AllAssets"></button>
                <button th:replace="fragments/navBar_Inactive::navBar_AssetSearch"></button>
                <button th:replace="fragments/navBar_Inactive::navBar_AssetStatus"></button>
                <button th:replace="fragments/navBar_Inactive::navBar_AssetsExpiring"></button>
<!--                <button th:replace="fragments/navBar_Inactive::navBar_ManageAdmin"></button>-->
                <a href="javascript: document.logoutForm.submit()" class="dropdown-toggle" style="float: right;margin-top: 7px">Sign out</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out" />
                </form>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <!--                Assets Summary-->
            <div aria-labelledby="nav-assets-tab" class="tab-pane fade show active w-100" id="nav-assets"
                 role="tabpanel" tabindex="0">
                <div class="row">
                    <div style="text-align: center">
                        <br/>
                        <br/>
                        <div class="table-responsive w-100 ">
                            <table class="table table-hover table-light table-striped w-100 justify-content-between modal-dialog-scrollable display"
                                   id="assetsSummary">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Asset Name</th>
                                    <th scope="col">Asset Type</th>
                                    <th scope="col">Assigned</th>
                                    <th scope="col">Unassigned</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody class="table-group-divider ">
                                <tr th:each="asset: ${assetSummary}">
                                    <td th:text="${asset.ID}"></td>
                                    <td th:text="${asset.assetName}"></td>
                                    <td th:text="${asset.assetType}"></td>
                                    <td th:text="${asset.assigned}"></td>
                                    <td th:text="${asset.unassigned}"></td>
                                    <td th:text="${asset.total}"></td>
                                </tr>
                                <tbody>
                            </table>
                            <table class="table table-hover table-light table-striped w-100 justify-content-between modal-dialog-scrollable display"
                                   id="assetsSummaryTotal">

                                <tfoot>
                                <tr>
                                    <th scope="col">Total Assigned</th>
                                    <th scope="col">Total Unassigned</th>
                                    <th scope="col">Total Assets</th>
                                </tr>
                                </tfoot>
                                <tbody class="table-group-divider ">
                                <tr th:object="${assetSummary.get(0)}">
                                    <td th:utext="*{totalAssigned}"></td>
                                    <td th:utext="*{totalUnassigned}"></td>
                                    <td th:utext="*{totalAssets}"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <br>

                        <!--                            Page navigation removed as pagination covers in datatables functionality-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<script th:replace="fragments/Script_GA::script"></script>
</body>
</html>