<!DOCTYPE html>
<html lang="en">

<!--This is the Home Page template for SuperAdmin Access-->
<head th:replace="fragments/Head::siteHead"></head>
<body>
<header th:replace="fragments/Header::siteHeader"></header>
<nav th:replace="fragments/navBarSuperAdmin::siteNavBarSupAdmin"></nav>

    <div class="row">
        <div class="col col-lg-8 offset-lg-2 text-center">
            <div class="tab-content" id="nav-tabContent">
                <!--                All Assets-->
                <div aria-labelledby="nav-assets-tab" class="tab-pane fade show active w-100" id="nav-assets" role="tabpanel" tabindex="0">
                    <div th:replace="fragments/allAssetsSupAdmin::allAssetsTab"></div>
                </div>

                <!--                Asset Search-->
                <div aria-labelledby="nav-assetSearch-tab" class="tab-pane fade w-100" id="nav-assetSearch" role="tabpanel" tabindex="0">
                    <div th:replace="fragments/searchAssetsSupAdmin::searchAssetsTab"></div>
                </div>

                <!--                Asset Status -->
                <div aria-labelledby="nav-assetStatus-tab" class="tab-pane fade w-100" id="nav-assetStatus" role="tabpanel" tabindex="0">
                    <div th:replace="fragments/assetsStatusSupAdmin::assetStatusTab"></div>
                </div>

                <!--                Asset Expiring-->
                <div aria-labelledby="nav-expiring-tab" class="tab-pane fade w-100" id="nav-expiring" role="tabpanel" tabindex="0">
                    <div th:replace="fragments/assetsExpiringSupAdmin::assetsExpiringTab"></div>
                </div>

                <!--                Manage Admin-->
                <div aria-labelledby="nav-manageAdmin-tab" class="tab-pane fade w-100" id="nav-manageAdmin" role="tabpanel" tabindex="0">
                    <div th:replace="fragments/manageAdminSupAdmin::manageAdminTab"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>