<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">

<head th:replace="fragments/Head::siteHead"></head>
<!--this is bootstrap css-->
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
<!--this is bootstrap js    -->
<script crossorigin="anonymous"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!--this is DataTable CSS and JS-->

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-html5-2.3.3/cr-1.6.1/kt-2.8.0/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/sr-1.2.0/datatables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.13.1/b-2.3.3/b-html5-2.3.3/cr-1.6.1/kt-2.8.0/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/sr-1.2.0/datatables.min.css"/>

<style>
    tfoot input{
        font-size: small;
        width: 100%;
        min-width:90px;
        padding: 0px;
        box-sizing: border-box;
    }

</style>

</head>


<body>
<header th:replace="fragments/Header::siteHeader"></header>

<div class="col col-lg-8 offset-lg-2 text-center">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button th:replace="fragments/navBar_Inactive::navBar_AllAssets"></button>
                    <button th:replace="fragments/navBar_Inactive::navBar_AssetSearch"></button>
                    <button th:replace="fragments/navBar_Inactive::navBar_AssetStatus"></button>
                    <button th:replace="fragments/navBar_Inactive::navBar_AssetsExpiring"></button>
                    <button th:replace="fragments/navBar_Active::navBar_ManageAdmin"></button>
                </div>
            </nav>
    <div class="tab-content" id="nav-tabContent">
    <div aria-labelledby="nav-manageAdmin-tab" class="tab-pane fade show active w-100" id="nav-manageAdmin"
         role="tabpanel" tabindex="0">
        <div class="row">
            <div style="text-align: start">
                <div class="table text-wrap">


<!--            <form name="generalAll" action='/GeneralAll/' method='get' style="text-align: start">-->
<!--                <button class="btn btn-primary" name="GeneralAll" type="submit">General Admin</button>-->
<!--            </form>-->
<!--            <form name="generalAll" action='/SuperAll/' method='get' style="text-align: start">-->
<!--                <button class="btn btn-primary" name=class="dropdown-item" type="submit">Super Admin</button>-->
<!--            </form>-->


                <table  id="AdminTable" class="table table-striped display" >

                <thead>
                <tr>
                    <td>ID</td>
                    <td>FirstName</td>
                    <td>Surname</td>
                    <td>Username</td>
                    <td>Password</td>
                    <td>Department</td>
                    <td>Authority</td>
                    <td>Region</td>

                </tr>
                </thead>
                    <tbody class="table-group-divider ">
                <tr th:each="employee: ${employeeAttribute}">
                    <td th:text="${employee.ID}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.surname}"></td>
                    <td th:text="${employee.Username}"></td>
                    <td th:text="${employee.Password}"></td>
                    <td th:text="${employee.Department}"></td>
                    <td th:text="${employee.Authority}"></td>
                    <td th:text="${employee.Region}"></td>
                </tr>
                <tfoot>
                <td>ID</td>
                <td>FirstName</td>
                <td>surname</td>
                <td>Username</td>
                <td>Password</td>
                <td>Department</td>
                <td>Authority</td>
                <td>Region</td>
                </tfoot>
            </table>
                <!--datatable plugin functions-->
                <script type="text/javascript">
                $(document).ready(function () {
                    $('#AdminTable tfoot td').each(function () {
                        var title = $(this).text();
                        $(this).html('<input type="text" placeholder="Search ' +title+ '"/>');
                    });
                    var table = $('#AdminTable').DataTable(
                        {
                            select: true,
                            initComplete: function () {
                                // Apply the search
                                this.api()
                                    .columns()
                                    .every(function () {
                                        var that = this;

                                        $('input', this.footer()).on('keyup change clear', function () {
                                            if (that.search() !== this.value) {
                                                that.search(this.value).draw();
                                            }
                                        });
                                    });
                            },
                            pagingType: 'first_last_numbers',
                            pageLength: 5,
                            lengthMenu: [5, 10, 500],
                            autoWidth: false,
                            aoColumnDefs: [
                                { 'bSortable': false, 'aTargets': [ 4 ] },
                                {'width': "10px", "aTargets": [0] }
                            ],

                        }

                    );
                    table.on( 'click', 'tr', function () {

                        var rowID =  table.row( this ).data()[0];
                        var rowfName =  table.row( this ).data()[1];
                        var rowlName =  table.row( this ).data()[2];
                        var rowUsername =  table.row( this ).data()[3];
                        var rowPassword =  table.row( this ).data()[4];
                        var rowDepartment =  table.row( this ).data()[5];
                        var rowAuthority =  table.row( this ).data()[6];
                        var rowRegion =  table.row( this ).data()[7];
                        document.getElementById("aFName").value = rowfName;
                        document.getElementById("aLName").value = rowlName;
                        document.getElementById("aUsername").value = rowUsername;
                        document.getElementById("aPassword").value = rowPassword;
                        // document.getElementById("aDepartment").value = rowDepartment;
                        // document.getElementById("aAuthority").value = rowAuthority;
                        document.getElementById("aRegion").value = rowRegion;
                        document.getElementById("eID").value = rowID;
                        document.getElementById("eFName").value = rowfName;
                        document.getElementById("eLName").value = rowlName;
                        document.getElementById("eUsername").value = rowUsername;
                        document.getElementById("ePassword").value = rowPassword;
                        // document.getElementById("eDepartment").value = rowDepartment;
                        // document.getElementById("eAuthority").value = rowAuthority;
                        document.getElementById("eRegion").value = rowRegion;
                        document.getElementById("dID").value = rowID;

                    });
                });
            </script>

                </div>

            <br>
       <div class="col-md-8 column">

           <form name="myForm3" id='myForm3' action='/AdminAll/' method='get'></form>
           <button class="btn btn-primary" name="AdminAll" id="AdminAll"onclick="Adminall()"> Admin Refresh</button>
            <script>
                function Adminall() {
                    document.getElementById("myForm3").submit();
                }
            </script>
            <button class="btn btn-primary" data-bs-target="#addAdmin"
                    data-bs-toggle="modal"
                    type="button"> Add Admin
            </button>
            <div class="modal fade" id="addAdmin">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header"><h4 class="modal-title">Add Admin</h4></div>
                                <button class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>

                            <form action='/AddAdmin/' id='myForm' method='post'>
                            <div class="modal-body">
                                <div class="row row-col-5">
                                <!--Now, the data posed will be sent to controllers-->
                                    <div class="col-4 p-2"><label>First Name: </label></div>
                                    <div class="col-8 p-2"><input name="firstName" id = "aFName" type="text"></div><br>
                                    <div class="col-4 p-2"><label>Last Name: </label></div>
                                    <div class="col-8 p-2"><input name="surname" id = "aLName" type="text"></div><br>
                                    <div class="col-4 p-2"><label>Username: </label></div>
                                    <div class="col-8 p-2"><input name="Username" id = "aUsername" type="text"></div><br>
                                    <div class="col-4 p-2"><label>Password:</label></div>
                                    <div class="col-8 p-2"><input name="Password" id = "aPassword" type="text"></div><br>
                                    <div class="col-4 p-2"><label for="aDepartment">Department: </label></div>
                                    <div class="col-8 p-2">
                                        <select name="Department" id="aDepartment" form="myForm">
                                        <option value="COMSC">COMSC</option>
                                        <option value="FINANCE">FINANCE</option>
                                        <option value="ARTS">ARTS</option>
                                        </select>
                                    </div>
                                <br>
                                    <div class="col-4 p-2"><label for="aAuthority">Authority: </label></div>
                                    <div class="col-8 p-2">
                                        <select name="Authority" id="aAuthority" form="myForm">
                                        <option value="Super">Super</option>
                                        <option value="General">General</option>
                                        <option value="Not">Not</option>
                                        </select>
                                    </div>
                                <br>
                                    <div class="col-4 p-2"><label>Region: </label></div>
                                    <div class="col-8 p-2"><input name="Region" id = "aRegion" type="text">
                                    </div><br>

                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-success" data-bs-dismiss="modal"
                                        type="submit"> submit
                                </button>
                                <button class="btn btn-danger" data-bs-dismiss="modal"
                                        type="button"> Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Edit admin/delete-->
            <!--Here the implementation is different from the search tag-->
            <button class="btn btn-danger" data-bs-target="#editAdmin"
                    data-bs-toggle="modal"
                    type="button">
                Edit Admin
            </button>
            <div class="modal fade" id="editAdmin">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form action='/EditAdmin/' id='myForm2' method='post'>

                            <div class="modal-header">
                                <h4 class="modal-title">Edit Admin</h4>
                                <button class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row row-col-5">
                                <div class="col-4 p-2"><label>ID: </label></div>
                                <div class="col-8 p-2"><input name="ID" id = "eID" type="text"></div>
                                <div class="col-4 p-2"><label>First Name: </label></div>
                                <div class="col-8 p-2"><input name="firstName" id = "eFName" type="text"></div>
                                <div class="col-4 p-2"><label>Last Name:</label></div>
                                <div class="col-8 p-2"><input name="surname" id = "eLName" type="text"></div>
                                <div class="col-4 p-2"><label>Username: </label></div>
                                <div class="col-8 p-2"><input name="Username" id = "eUsername" type="text"></div>
                                <div class="col-4 p-2"><label>Password:</label></div>
                                <div class="col-8 p-2"><input name="Password" id = "ePassword" type="text"></div>
                                <div class="col-4 p-2"><label for="eDepartment">Department: </label></div>
                                <div class="col-8 p-2"><select name="Department" id="eDepartment" form="myForm2">
                                    <option value="COMSC">COMSC</option>
                                    <option value="FINANCE">FINANCE</option>
                                    <option value="ARTS">ARTS</option>
                                </select></div>
                                <div class="col-4 p-2"><label for="eAuthority">Authority:</label></div>
                                <div class="col-8 p-2"><select name="Authority" id="eAuthority" form="myForm2">
                                    <option value="General">General</option>
                                    <option value="Super">Super</option>
                                    <option value="Not">Not</option>
                                </select></div>
                                <div class="col-4 p-2"><label>Region: </label></div>
                                <div class="col-8 p-2"><input name="Region" id = "eRegion" type="text"></div>


                                <!--leave a place for edit password, this should be edited into another table in db-->
                            </div>
                            </div>


                            <div class="modal-footer">
                                <!--                                                            may not use the same form action, have to make one more form-->
                                <!--                                                            <button class="btn btn-danger" data-bs-dismiss="modal"-->
                                <!--                                                                    type="button">-->
                                <!--                                                                DELETE!-->
                                <!--                                                            </button>-->
                                <button class="btn btn-success" data-bs-dismiss="modal"
                                        type="submit">
                                    submit
                                </button>
                                <button class="btn btn-ready" data-bs-dismiss="modal"
                                        type="button">
                                    Cancel
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <button class="btn btn-warning" data-bs-target="#deleteAdmin"
                    data-bs-toggle="modal"
                    type="button">
                Delete Admin
            </button>
            <div class="modal fade" id="deleteAdmin">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form action='/DeleteAdmin/' id='myForm4' method='post'>

                            <div class="modal-header">
                                <h4 class="modal-title">Delete Admin</h4>
                                <button class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>


                            <div class="modal-body">
                                <div class="row row-col-5">
                                <div class="col-6 p-2">
                                You are going to delete this Admin...
                                <label>ID: </label>
                                </div>
                                <div class="col-6 p-2">
                                    <input name="ID" id = "dID" type="text">
                                </div>

                                <br>
                                </div>
                                <!--leave a place for edit password, this should be edited into another table in db-->
                            </div>


                            <div class="modal-footer">
                                <button class="btn btn-success" data-bs-dismiss="modal"
                                        type="submit">
                                    submit
                                </button>
                                <button class="btn btn-ready" data-bs-dismiss="modal"
                                        type="button">
                                    Cancel
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>



       </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var getAllAssetsTab = function () {
        window.location = '/allAssetsSupAdmin';
        alert("Works Fine");
    };
    var getAssetSearchTab = function () {
        window.location = '/assetSearchSupAdmin';
        alert("Works Fine");
    };
    var getAssetStatusTab = function () {
        window.location = '/assetStatusSupAdmin';
        alert("Works Fine");
    };
    var getAssetsExpiringTab = function () {
        window.location = '/assetsExpiringSupAdmin';
        alert("Works Fine");
    };
    var getManageAdminTab = function () {
        window.location = '/ManageAdmin_SA';
        alert("Works Fine");
    };
</script>

</body>


</html>