<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">

<!--This is the Home Page template for SuperAdmin Access-->
<head th:replace="fragments/Head::siteHead"></head>
<body>
<header th:replace="fragments/Header::siteHeader"></header>

    <div class="row">
        <div class="col col-lg-8 offset-lg-2 text-center">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button th:replace="fragments/navBar_Inactive::navBar_AllAssets"></button>
                    <button th:replace="fragments/navBar_Inactive::navBar_AssetSearch"></button>
                    <button th:replace="fragments/navBar_Inactive::navBar_AssetStatus"></button>
                    <button th:replace="fragments/navBar_Inactive::navBar_AssetsExpiring"></button>
                    <button th:replace="fragments/navBar_Active::navBar_ManageAdmin"></button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
                <!--                Manage Admin-->
                <div aria-labelledby="nav-manageAdmin-tab" class="tab-pane fade show active w-100" id="nav-manageAdmin" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div style="text-align: center">
                            <br>
                            <br>
                            <div class="wrapleft">
                                <div class="row row-col-5">
                                    <div class="col-4 p-2">
                                        <label for="AdminName" class="form-label">Admin Name</label>
                                    </div>
                                    <div class="col-8 p-2">
                                        <input type="text" class="form-control" id="AdminName"
                                               placeholder="Default Name">
                                    </div>
                                    <div class="col-4 p-2">
                                        <label for="Department" class="form-label">Department</label>

                                    </div>
                                    <div class="col-8 p-2">
                                        <input type="text" class="form-control" id="Department"
                                               placeholder="Default Department">
                                    </div>
                                    <div class="col-4 p-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive w-100 ">
                            <table class="table table-hover table-light table-striped w-100 justify-content-between  modal-dialog-scrollable"
                                   id="viewresult">
                                <thead>
                                <tr>
                                    <!--                    Just for Test Run-->
                                    <th scope="col">ID</th>
                                    <th scope="col">Asset Name</th>
                                    <th scope="col">Asset Type</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date of Purchase</th>
                                    <th scope="col">Date of Expiry</th>
                                </tr>
                                </thead>
                                <tbody class="table-group-divider ">
                                <tbody>
                                <!--                    Just for Test Run-->
                                <tr th:each="asset: ${assets}">
                                    <td th:text="${asset.id}"></td>
                                    <td th:text="${asset.assetName}"></td>
                                    <td th:text="${asset.assetType}"></td>
                                    <td th:text="${asset.status}"></td>
                                    <td th:text="${asset.dateOfPurchase}"></td>
                                    <td th:text="${asset.dateOfExpiry}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <br>
                        <!--                                Paged navigation bar and button to add admins-->
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-6 column">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-start">
                                            <li class="page-item disabled">
                                                <a class="page-link">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>

                                <div class="col-md-6 column">
                                    <!--add assets button-->
                                    <button class="btn btn-primary" data-bs-target="#addAdmin"
                                            data-bs-toggle="modal"
                                            type="button"> Add Admin
                                    </button>
                                    <div class="modal fade" id="addAdmin">
                                        <div class="modal-dialog modal-lg">

                                            <div class="modal-content">
                                                <form action='/Sample/' id='myForm' method='post'>
                                                    <div class="modal-header"><h4 class="modal-title">Add Admin</h4>
                                                        <button class="btn-close" data-bs-dismiss="modal"
                                                                type="button"></button>
                                                    </div>
                                                    <div class="modal-body">

                                                        <!--Now, the data posed will be sent to controllers--> <label>Name:
                                                        <input name="Name"
                                                               type="text"></label><br>
                                                        <label>Department: <input name="Department"
                                                                                  type="text"></label><br> <label>Authority:
                                                        <input name="Authority"
                                                               type="text"></label><br>


                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-success" data-bs-dismiss="modal"
                                                                type="submit"> submit
                                                        </button>
                                                        <button class="btn btn-danger" data-bs-dismiss="modal"
                                                                type="button"> Cancel
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                            Edit admin/delete-->
                                    <!--                                            Here the implementation is different from the search tag-->
                                    <button class="btn btn-danger" data-bs-target="#editAdmin" data-bs-toggle="modal"
                                            type="button">
                                        Edit Admin
                                    </button>
                                    <div class="modal fade" id="editAdmin">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">


                                                <div class="modal-header">
                                                    <h4 class="modal-title">Edit Admin</h4>
                                                    <button class="btn-close" data-bs-dismiss="modal"
                                                            type="button"></button>
                                                </div>


                                                <div class="modal-body">
                                                    <div class="wrapleft ">
                                                        <div class="row row-col-5">
                                                            <div class="col-4 p-2">
                                                                <label class="form-label" for="adminId">Admin
                                                                    ID</label>
                                                            </div>
                                                            <div class="col-8 p-2">
                                                                <input class="form-control" id="adminId"
                                                                       placeholder="required"
                                                                       type="text">
                                                            </div>
                                                            <div class="col-4 p-2">
                                                                <label class="form-label" for="editAdminName">Admin
                                                                    Name</label>
                                                            </div>
                                                            <div class="col-8 p-2">
                                                                <input class="form-control" id="editAdminName"
                                                                       placeholder="Name"
                                                                       type="text">
                                                            </div>
                                                            <div class="col-4 p-2">
                                                                <label class="form-label"
                                                                       for="editDepartment">Department</label>
                                                            </div>
                                                            <div class="col-8 p-2">
                                                                <input class="form-control" id="editDepartment"
                                                                       placeholder="Default Department"
                                                                       type="text">
                                                            </div>
                                                            <div class="col-4 p-2">
                                                                <label class="form-label"
                                                                       for="editAccessibility">Accessibility </label>
                                                            </div>
                                                            <div class="col-8 p-2">
                                                                <input class="form-control" id="editAccessibility"
                                                                       placeholder="Default Department"
                                                                       type="text">
                                                            </div>

                                                            <div class="col-4 p-2">
                                                                <label class="form-label" for="editPassword">Password </label>
                                                            </div>
                                                            <div class="col-8 p-2">
                                                                <input class="form-control" id="editPassword"
                                                                       placeholder="required"
                                                                       type="text">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="modal-footer">
                                                    <button class="btn btn-danger" data-bs-dismiss="modal"
                                                            type="button">
                                                        DELETE!
                                                    </button>
                                                    <button class="btn btn-success" data-bs-dismiss="modal"
                                                            type="button">
                                                        submit
                                                    </button>
                                                    <button class="btn btn-ready" data-bs-dismiss="modal"
                                                            type="button">
                                                        Cancel
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/Script::script">

</script>
</body>
</html>