<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">

<!--This is the Home Page template for SuperAdmin Access-->
<head th:replace="fragments/Head::siteHead"><title></title></head>
<body>
<header th:replace="fragments/Header::siteHeader"></header>

<a href="javascript: document.logoutForm.submit()" class="dropdown-toggle">Sign out</a>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out" />
</form>

<div class="row">
    <div class="col col-lg-8 offset-lg-2 text-center">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button th:replace="fragments/navBar_Inactive::navBar_AllAssets"></button>
                <button th:replace="fragments/navBar_Inactive::navBar_AssetSearch"></button>
                <button th:replace="fragments/navBar_Active::navBar_AssetStatus"></button>
                <button th:replace="fragments/navBar_Inactive::navBar_AssetsExpiring"></button>
                <button th:replace="fragments/navBar_Inactive::navBar_ManageAdmin"></button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <!--                Asset Status-->
            <div aria-labelledby="nav-manageAdmin-tab" class="tab-pane fade show active w-100" id="nav-manageAdmin"
                 role="tabpanel" tabindex="0">
                <div class="row">
                    <div style="text-align: center">
                        <br/>
                        <div class="col-5">
                            <p style="text-align:left">
                                <select aria-label=".select status" class="form-select form-select-md mb-3">
                                    <option selected>Sort By...</option>
                                    <option value="1">New</option>
                                    <option value="2">Damaged</option>
                                    <option value="3">Refurbished</option>
                                    <option value="4">Needs Repair</option>
                                    <option value="5">Expired Warranty</option>
                                    <option value="6">Updated</option>
                                    <option value="7">Update required</option>
                                    <option value="8">Expired License</option>
                                </select>
                            </p>

                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">

                                    <div>
                                        <div class="table-responsive-sm w-100">
                                            <table
                                                    class="table table-hover table-light table-striped w-100 justify-content-between  modal-dialog-scrollable"
                                                    id="viewresult">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Assignees</th>
                                                    <th scope="col">Asset Name</th>
                                                    <th scope="col">Asset Type</th>
                                                    <th scope="col">Model Number</th>
                                                    <th scope="col">Version</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Department</th>
                                                    <th scope="col">Region</th>
                                                    <th scope="col">Date of Purchase</th>
                                                    <th scope="col">Manage</th>
                                                </tr>
                                                </thead>
                                                <tbody class="table-group-divider ">
                                                <tr th:each="asset: ${assets}">
                                                    <td th:text="${asset.ID}"></td>
                                                    <td th:text="${asset.employeeID}"></td>
                                                    <td th:text="${asset.assetName}"></td>
                                                    <td th:text="${asset.assetType}"></td>
                                                    <td th:text="${asset.modelNumber}"></td>
                                                    <td th:text="${asset.version}"></td>
                                                    <td th:text="${asset.status}"></td>
                                                    <td th:text="${asset.department}"></td>
                                                    <td th:text="${asset.region}"></td>
                                                    <td th:text="${asset.dateOfPurchase}"></td>
                                                    <td>
                                                        <div style="white-space:nowrap">
                                                            <!-- Button trigger modal -->
                                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                                Change Status
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel">Input Status</h5>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div>
                                                                                <label for="input"></label><input id="input">
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                                                                            <button type="button" class="btn btn-primary"
                                                                                    data-bs-target="#edit"
                                                                                    data-bs-toggle="modal"
                                                                                    style="display: inline-block"
                                                                                    th:onclick="|changeStatus(${asset.ID})|">Save changes</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br>
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-start">
                                            <li class="page-item disabled">
                                                <a class="page-link">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/Script::script"></script>

</body>
</html>