<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="siteHeader">
    <div class="container-fluid">
        <div class="col col-lg-8 offset-lg-2 text-center">
            <div style="background-color: #2A2731!important;">
                <img class="logo" src="imgs/logo.png">
            </div>
            <p class="lead">
                Your Professional Assets and Warranties Manager
            </p>
            <p class="border border-2 opacity-75" style="border-color: #05ED99!important;">
            </p>
        </div>
    </div>
</header>
</body>
</html>