<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="container-fluid" th:fragment="siteNavBarSupAdmin">
    <div class="row">
        <div class="col col-lg-8 offset-lg-2 text-center">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button aria-controls="nav-assets" aria-selected="false" class="nav-link active"
                            data-bs-target="#nav-assets" data-bs-toggle="tab" id="nav-assets-tab" role="tab"
                            type="button">Assets
                    </button>
                    <button aria-controls="nav-assetSearch" aria-selected="false" class="nav-link"
                            data-bs-target="#nav-assetSearch" data-bs-toggle="tab" id="nav-assetSearch-tab" role="tab"
                            type="button">Asset Search
                    </button>
                    <button aria-controls="nav-assetStatus" aria-selected="false" class="nav-link"
                            data-bs-target="#nav-assetStatus" data-bs-toggle="tab" id="nav-assetStatus-tab" role="tab"
                            type="button">Asset Status
                    </button>
                    <button aria-controls="nav-expiring" aria-selected="false" class="nav-link"
                            data-bs-target="#nav-expiring" data-bs-toggle="tab" id="nav-expiring-tab" role="tab"
                            type="button">Expiring Warranties
                    </button>
                    <button aria-controls="nav-manageAdmin" aria-selected="false" class="nav-link"
                            data-bs-target="#nav-manageAdmin" data-bs-toggle="tab" id="nav-manageAdmin-tab" role="tab"
                            type="button">Manage Admin
                    </button>
<!--                    <a href="/manageAdminSupAdmin" aria-controls="nav-manageAdmin" aria-selected="false" class="nav-link"-->
<!--                            data-bs-target="#nav-manageAdmin" data-bs-toggle="tab" id="nav-manageAdmin-tab" role="tab"-->
<!--                            type="button">Manage Admin-->
<!--                    </a>-->
                </div>
            </nav>
        </div>
    </div>
</nav>
</body>
</html>