<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script th:fragment="script">

    var getAllAssetsTab = function () {
        window.location = '/assetsSummarySupAdmin';
        //alert("Works Fine");
    };
    var getAssetSearchTab = function () {
        window.location = '/assetSearchSupAdmin';
        //alert("Works Fine");
    };
    var getAssetStatusTab = function () {
        window.location = '/assetStatusSupAdmin';
        //alert("Works Fine");
    };
    var getAssetsExpiringTab = function () {
        window.location = '/assetsExpiringSupAdmin';
        //alert("Works Fine");
    };
    var getManageAdminTab = function () {
        window.location = '/manageAdminSupAdmin';
        //alert("Works Fine");
    };

</script>
</body>
</html>