<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<script th:fragment="script">

  var getAllAssetsTab = function () {
    window.location = '/assetsSummaryGenAdmin';
    //alert("Works Fine");
  };
  var getAssetSearchTab = function () {
    window.location = '/assetSearchGenAdmin';
    //alert("Works Fine");
  };
  var getAssetStatusTab = function () {
    window.location = '/assetStatusGenAdmin';
    //alert("Works Fine");
  };
  var getAssetsExpiringTab = function () {
    window.location = '/assetsExpiringGenAdmin';
    //alert("Works Fine");
  };


</script>
</body>
</html>