<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head th:replace="Fragments::siteHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul >
    <li class="active"><a href="/Site/AddEmployee">AddEmployee</a></li>
    <li ><a href="/Site/Sample">Sample</a></li>
    <li><a href="/Site/EmployeeSearch">SearchEmployee</a></li>
</ul>

    <main>
        <form id='myForm' action='/EmployeeAll/' method = 'get'>
            <button type = "submit"> get All employee </button>
        </form>
        <h2>Search for Students</h2>
        <!-- <form id='myForm' action='/Student/InjectionSearch' method = 'post'> -->
        <form id='myForm' action='/Employee/' method = 'get'>
            <label>Surname:<input type = "text" name = "surname"><br></label>
            <button type = "submit"> submit </button>
        </form>
    </main>


</body>
</html>