<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head th:replace="Fragments::siteHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/Site/AddEmployee">AddEmployee</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/Site/Sample">Sample</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Site/EmployeeSearch">SearchEmployee</a>
    </li>
</ul>

<p>This is a sample page, if you are now bringing any new functional pages to the project</p>
<p>Please use this as a sample to make sure nothing is going wrong.</p>


<main>
        <h2>Sample Adding</h2>
    <p>This adding can be replaced with any functions, remember using the right get/Post</p>
    <p>form action = Sample, method = post</p>
    <!--supposed to be the button clock on it and show the tab to add-->
    <button class="btn btn-primary" data-bs-target="#addAdmin" data-bs-toggle="modal"
            type="button">
        Add Admin
    </button>

    <form id='myForm' action='/Sample/' method = 'post'>
            <!--Now, the data posed will be sent to controllers-->
            <label>Name: <input type="text" name = "Name"></label><br>
            <label>Department: <input type="text" name = "Department"></label><br>
            <label>Authority: <input type="text" name = "Authority"></label><br>
            <button type = "submit"> Submit </button>


    </form>



    </main>

</body>
</html>