<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.Thymeleaf.org">
<head th:replace="Fragments::siteHead">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/Site/AddEmployee">AddEmployee</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/Site/Sample">Sample</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Site/EmployeeSearch">SearchEmployee</a>
    </li>
</ul>
<p>This is a sample return page, if you are now bringing any new functional pages to the project</p>
<p>Please use this as a sample to make sure nothing is going wrong.</p>
    <main>
        <div class="table-responsive w-100 ">
        <table class="table table-hover table-light table-striped w-100 justify-content-between  modal-dialog-scrollable"
               id="viewresult">
            <thead>
            <tr><td>ID</td><td>Name</td><td>Department</td><td>Authority</td></tr>
            </thead>
            <tbody class="table-group-divider ">
            <tbody>
            <tr th:each="employee: ${sampleAttribute}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.Name}"></td>
                <td th:text="${employee.Department}"></td>
                <td th:text="${employee.Authority}"></td>
            </tr>
            </tbody>
        </table>
        </div>

    </main>


</body>
</html>